@mixin banner {
  width: 100%;
  height: 80vh;
  text-align: center;
}
@mixin image {
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin grid($cols, $gutters) {
  float: left;
  margin-right: $gutters;
  margin-bottom: $gutters;
  width: ((100% - (($cols - 1) * $gutters)) / $cols);
  &:nth-child(#{$cols}n) {
    margin-right: 0;
  }
}
