* {
    margin: 0;
    padding: 0;

}
body{
    width: 95%;
    color: #5f6368;
    font-family: arial,sans-serif;

}
#nav-bar{
    width: 100%;
    height: 50px;
    line-height: 10px;

}
#nav-bar li  {
    list-style-type: none;
    
    display: inline;
    padding: 10px;
     margin-top: 10px; 

}
#nav-bar li a{
    color: rgb(27, 26, 26);
    font-family: arial,sans-serif;
    font-size: 15px;
    margin-left: 12px;
    text-decoration: none;
}
#center {
    width: 50%;
    text-align: -webkit-center;
     margin: auto; 
    display: block;
    padding: 25px;
    
    
}

#logo {

     margin-left:5%;
    margin-top: 15%;
    text-align: -webkit-center;
    height: 92px;
    width: 272px;
    
}
input[type="text"]{
    width: 100%;
    height: 40px;
    margin: 40px;
    outline-color: transparent;
     border-color: 1px solid transparent ; 
    border-radius: 50px;
    /* border-style: unset; */
}
input[type="text"]:hover{
    box-shadow: 1px 1px 1px 1px #d4d6d8;
}


#footer 
{
    margin-top: 15%;
    width: 100%;
    height: 20px;
    padding: 10px;
    font-size: 14px;
    line-height: 40px;

}
#footer a{
    margin-left: 12px;
    font-size: 15px;
    padding: 10px;
    color: gray;
    text-decoration: none;
}


input[type="submit"] {
    width: 150px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    }
    .btn:hover{
        border-color: rgb(216, 210, 210);
    }
   li .sign-in{
        width: 350px;
        height: 10px;
        background-color: rgb(50, 50, 243);
        text-align: center;
        color: rgb(248, 237, 237) !important;
        font-weight: bold;
        padding: 8px;
    }